<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Voting Page</title>
	<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
	<section class="main-content" style="border-radius: 25px; background-color: rgb(222, 228, 231);">
		<div class="container" >
			<h1 class="page-title text-center"><b>Candidates</b></h1>
			<div class="row">
				<div class="col-md-3 col-sm-4">
					<div class="profile-card" th:field="*{firstname}">
						<div class="profile-card_cover" th:field="*{firstname}">
							<img src="images/bjp.jpeg" alt="">
						</div>
						<div class="profile-card_padding">
							<div class="profile-card_image  " th:field="*{firstname}">
								<img src="images/users/modi.jpg" alt="">
							</div>
							<div class="profile-card_details" th:field="*{firstname}">
								<h3>Narendra Modi</h3>
								<p class="text-muted" th:field="*{firstname}">Bharatiya Janta Party</p>
							</div>
							<div class="profile-card_social">
								
								


<button class="button button1" th:field="*{firstname}">Vote</button>
								
							</div>
						</div>
					</div>
				</div>

				<div class="col-md-3 col-sm-4">
					<div class="profile-card">
						<div class="profile-card_cover" th:field="*{firstname}">
							<img src="images/cpim.png" alt="">
						</div>
						<div class="profile-card_padding">
							<div class="profile-card_image" th:field="*{firstname}">
								<img src="images/users/cpim.jpg" alt="">
							</div>
							<div class="profile-card_details" th:field="*{firstname}">
								<h3>Jyoti Basu</h3>
								<p class="text-muted">Left Front </p>
							</div>
							<div class="profile-card_social" th:field="*{firstname}">
								<button class="button button2" th:field="*{firstname}">Vote</button>
								
							</div>
						</div>
					</div>
				</div>

				<div class="col-md-3 col-sm-4">
					<div class="profile-card">
						<div class="profile-card_cover" th:field="*{firstname}">
							<img src="images/aap.jpeg" alt="">
						</div>
						<div class="profile-card_padding">
							<div class="profile-card_image" th:field="*{firstname}">
								<img src="images/users/arvind.jfif" alt="">
							</div>
							<div class="profile-card_details" th:field="*{firstname}">
								<h3>Arvind Kejriwal</h3>
								<p class="text-muted">Aam Admi Party</p>
							</div>
							<div class="profile-card_social" th:field="*{firstname}">
								<button class="button button3" th:field="*{firstname}">Vote</button>
							</div>
						</div>
					</div>
				</div>

				<div class="col-md-3 col-sm-4">
					<div class="profile-card">
						<div class="profile-card_cover" th:field="*{firstname}">
							<img src="images/tmc.png" alt="">
						</div>
						<div class="profile-card_padding">
							<div class="profile-card_image " th:field="*{firstname}">
								<img src="images/users/mamata.jfif" alt="">
							</div>
							<div class="profile-card_details" th:field="*{firstname}"> 
								<h3>Mamata Banerjee</h3>
								<p class="text-muted">Trinomool Congress</p>
							</div>
							<div class="profile-card_social" th:field="*{firstname}">
								
								<button class="button button4" th:field="*{firstname}">Vote</button>
								
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>
</html>